input:focus,
button:active,
button:focus {
  outline: none;
}
.logButton{
    margin-left: 0px;
    background-color: #303F5D;
    opacity: 85%;
    border: none;
    // width: 488px;
    height: 36px;
    margin-top: 5px;
    font-weight: bold;

    color: #FFDA87;
    font-family: 'Myriad Pro', serif;
}
.INPUT{
    margin-top: 5px !important;
    margin-bottom: 5px;
    border: none;
    padding: 8px;
}

.login a {
  position: relative;
  top: 30px;
  font-size: 17px;
  background: #700200;
  color: #FFDA87;
  font-family: 'Myriad Pro', serif;
  opacity: 75%;
  padding: 5px;
  font-weight: bold;
  left: 34%;
  cursor: pointer;
  text-decoration: underline;
}


.buttondiv {
  margin: auto;
  text-align: center;
}


.loginBtn {
  background-color: #303F5D;
  opacity: 85%;
  border: none;
  width: 344px;
  color: #FFDA87;
  height: 36px;
  margin-right: 5px;
  font-weight: bold;

}


.forgetBtn {
  background: #700200;
  opacity: 75%;
  border: none;
  width: 140px;
  color: #FFDA87;
  height: 36px;
  margin-right: 5px;
  font-weight: bold;

}

@media screen and (min-width: 521px) {
  .INPUT{
    width: 488px;
  }

  .logButton{
    width: 488px;
}
}

@media screen and (max-width: 520px) {
  .INPUT{
    width: 323px;
  }

  .loginBtn {
    width: 180px;
  }
}
