<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="forgetPasswordForm" class="sign-in-form">
        <h2 class="title">RESET PASSWORD</h2>
        <div *ngIf="password.invalid && password.touched">
          <small *ngIf="password.errors?.required">*Password is required</small>
          <small *ngIf="password.errors?.pattern">{{password.errors?.pattern.value}}* Password not allowed Must contain characters, numbers and at least one special and capital character</small>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="password" placeholder="Password" type="password" class="INPUT">
        </div>
        <small *ngIf="forgetPasswordForm.errors?.misMatch">*confirm password and password not match</small>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input formControlName="confirmPassword" placeholder="Confirm Password" type="password" class="INPUT">
        </div>
       <div>
        <input type="submit" value="CONFIRM" (click)="submitForgetPasswordForm()" class="btn solid" />
       </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>RESET PASSWORD?</h3>
        <p>
        Please Enter the new password and confirm password to get start again in ArchoSec!
        </p>
      </div>
      <img src="assets/img/log.svg" class="image" alt="" />
    </div>
  </div>
</div>
