
<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-lg-5  col-sm-5 col-xs-3"></div>
    <div class="col-lg-2 col-sm-2 col-xs-6">
      <div class="logodiv">
        <img class="logim" src="./assets/logo2.png" style="width: 70%; padding-top: 27%;">
        <img class="logim" src="./assets/ll-32 yellow.png" style="width: 92%; padding-top: 2%; padding-bottom: 11px;">
      </div>
    </div>
    <div class="col-lg-5  col-sm-4 "> </div>
  </div>
  <div class="row mb-4">
      <div class="word">
          <p class="subtitle">Enter The New Password</p>
      </div>
  </div>
  <div class="row mb-4">
    <div class="buttondiv">
    <form [formGroup]="forgetPasswordForm">
      <div *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors?.required">*Password is required</small>
        <small *ngIf="password.errors?.pattern">{{password.errors?.pattern.value}}* Password not allowed Must contain characters, numbers and at least one special and capital character</small>
      </div>
      <div>
        <input formControlName="password" placeholder="Password" type="password" class="INPUT">
      </div>
      <small *ngIf="forgetPasswordForm.errors?.misMatch">*confirm password and password not match</small>
      <div>
        <input formControlName="confirmPassword" placeholder="Confirm Password" type="password" class="INPUT">
      </div>
      <button class="logButton" type="submit" (click)="submitForgetPasswordForm()">CONFIRM</button>
    </form>
  </div>
  </div>
</div>
