<mat-toolbar color="primary">
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="onCancelClick()" class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="sendEmailForm">
  <div class="form-group">
    <input type="email" formControlName="receipeintEmail" class="form-control" placeholder="Recipient"
      (ngModelChange)="searchbyEmail($event)">
    <mat-select #mySelect (selectionChange)="emailSelected($event)">
      <mat-option *ngFor="let mail of allMails " [value]="mail.email">{{mail.email}}</mat-option>
    </mat-select>
    <span
      *ngIf="sendEmailForm.controls['receipeintEmail']['errors']?.required && sendEmailForm.get('receipeintEmail').touched"
      class="form-error" style="color: red;">required receipeintEmail</span>
  </div>
  <div class="form-group">
    <input type="text" formControlName="subject" class="form-control" placeholder="subject">
  </div>
  <h5>body</h5>
  <div class="form-group">
    <textarea class="form-control" formControlName="body" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>
  <h5>Tags</h5>
  <div formArrayName="documentTags" class="form-group">
    <div *ngFor="let contentItem of documentTags.controls; let i=index">
      <div class="tags-container" [formGroupName]="i">
        <input type="text" formControlName="name" class="form-control tag-input" placeholder="tag name">
        <input type="text" formControlName="value" class="form-control tag-input" placeholder="tag value">
        <button (click)="deleteTag(i)" class="form-buttons">Remove</button>
      </div>
    </div>
  </div>
  <button (click)="addNewTag()" class="form-buttons">
    Add new tag
  </button>

  <mat-toolbar class="footer">
    <input type="submit" value="Send" (click)="sendMail()" class="send" />
    <!-- <input type="file" class="attach_file" /> -->
    <label for="file-upload" class="attach_file">
      <mat-icon>attach_file</mat-icon>
    </label>
    <input id="file-upload" type="file" (change)="onFileChange($event)" />
    <label class="fileName" *ngIf="isFileNameExists">{{fileName}}</label>
    <!-- <img [src]="fileShow" *ngIf="isFileExists" class="imageUploaded" /> -->
    <!-- <button class="cancelImage">X</button> -->
  </mat-toolbar>
</form>
