
<app-header></app-header>

<div class="container bootdey">
<div class="email-app mb-4">
    <app-nav-left></app-nav-left>
    <main class="inbox">
        <div class="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-light">
                    <span class="fa fa-envelope"></span>
                </button>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-star"></span>
                </button>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-star-o"></span>
                </button>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-bookmark-o"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-light">
                    <span class="fa fa-mail-reply"></span>
                </button>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-mail-reply-all"></span>
                </button>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-mail-forward"></span>
                </button>
            </div>
            <button type="button" class="btn btn-light">
                <span class="fa fa-trash-o"></span>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-tags"></span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">add label <span class="badge badge-danger"> Home</span></a>
                    <a class="dropdown-item" href="#">add label <span class="badge badge-info"> Job</span></a>
                    <a class="dropdown-item" href="#">add label <span class="badge badge-success"> Clients</span></a>
                    <a class="dropdown-item" href="#">add label <span class="badge badge-warning"> News</span></a>
                </div>
            </div>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-light">
                    <span class="fa fa-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-light">
                    <span class="fa fa-chevron-right"></span>
                </button>
            </div>
        </div>

        <ul class="messages">
            <li *ngFor="let mail of allMails" class="message" [ngClass]="mail.isRead || m ? 'read': 'unread'" (click) = "viewMessage(mail._id)">
                <a>
                    <div class="actions">
                        <span class="action"><i class="fa fa-square-o"></i></span>
                        <span class="action"><i class="fa fa-star-o"></i></span>
                    </div>
                    <div class="header">
                        <span class="from">{{mail.sender.name}}</span>
                        <span class="date">
                        <span class="fa fa-paper-clip"></span> {{mail.createdAt | date}}</span>
                    </div>
                    <div class="title">
                        {{mail.subject}}
                    </div>
                    <div class="description">
                        <p>
                          {{ mail.body }}
                        </p>

                    </div>
                </a>
            </li>
        </ul>
    </main>
</div>
</div>
