<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="otpForm" class="sign-in-form">
        <h2 class="title">Verify OTP</h2>
        <div class="input-field">
          <i class="fas fa-key"></i>
          <input formControlName="otp" placeholder="OTP" type="text" class="INPUT">
        </div>
       <div>
        <input type="submit" value="CONFIRM" (click)="verify()" class="btn solid" />
       </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>VERIFY?</h3>
        <p>
        Check Your Email, and Verify with otp to start using ArchoSec Now!
        </p>
      </div>
      <img src="assets/img/log.svg" class="image" alt="" />
    </div>
  </div>
</div>
