<app-header></app-header>

<div class="container bootdey">
    <div class="email-app mb-4">
       <app-nav-left></app-nav-left>

        <div id="email1" class="sent-mail">
            <br>

            <h5 class="title" style = "font-family:georgia,garamond,serif;font-size:18px;font-style:bold;">Subject: {{mail?.subject}} </h5>
            <h4><i class="fa fa-clock-o"  style = "font-size:20px;"></i> From {{mail?.sender.name}}, {{mail?.createdAt | date}}</h4>
            <hr>
            <p>
              {{mail?.body}}
            </p>

            <a [href]="url" *ngIf="isFile" target="_blank">File</a>
            <img [src]="file" *ngIf="isFile"/>

          </div>



    </div>
</div>
