input:focus,
button:active,
button:focus {
  outline: none;
}

.container-fluid {
  height: 100%;
  background-image: url('https://res.cloudinary.com/sherif-wahballa/image/upload/v1595615240/Background2020_u6di3n.jpg');
  font-size: 14px;
  overflow: hidden;
}
.logodiv {
  background-color: #303F5D;
  opacity: 80%;
  width: fit-content;
  height: fit-content;
  border-bottom: 10px solid #700200;
  text-align: center;
}


.logim {
  padding-top: 5px;
}
.word {
  background-color: #700200;
  width: 50%;
  opacity: 80%;
  color: #FFDA87;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  text-shadow: 4px 4px 4px #48414194;
}
.subtitle {
  margin: 0px;
}
.buttondiv {
  margin: auto;
  text-align: center;
}




input:focus,
button:active,
button:focus {
  outline: none;
}
.logButton{
    margin-left: 0px;
    background-color: #700200;
    opacity: 80%;
    border: none;
    /* width: 488px; */
    color: #FFDA87;
    height: 36px;
    margin-top: 5px;
    font-weight: bold;
}
.INPUT{
    margin-top: 5px !important;
    margin-bottom: 5px;
    /* width: 488px; */
    border: none;
    padding: 8px;
}


@media screen and (min-width: 511px) {
  .INPUT{
    width: 488px;
  }


  .logButton{
    width: 488px;
}
}

@media screen and (max-width: 520px) {
  .INPUT{
    width: 323px;
  }

  .logButton {
    width: 323px;
  }
}
